# Secrets
.env
apikey.txt
iproyal-proxies.txt

# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
.env

# Data & Logs (Too Large for Git)
*.csv
*.log
crypto_data.csv
logs/

# IDE
.idea/
.vscode/
.DS_Store
